<%= stylesheet_link_tag 'top', :media => "all" %>

<header1>
  <div class="container">
    <nav>
      <div class="logo">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#FFFFFF;}
            .st1{fill:#B93D30;}
          </style>
          <circle class="st0" cx="25" cy="25" r="25"/>
          <g>
            <polygon class="st1" points="34.1,25 27.7,13.9 21.3,25 19.2,28.7 16.5,24 13,30 9.5,36.1 14.9,36.1 16.5,36.1 23.5,36.1 
                           27.7,36.1 40.5,36.1  "/>
          </g>
        </svg>
      </div>
      <div class="subscribe">
        <a href="#">Subscribe</a>
      </div>
    </nav>
    <blockquote>私たちが愛すべき夜、nuit nuit は<div class="sns">"夜限定のsns"です。
    </div>
    <span>&mdash; Plannner :Keiju Sakagami
    </span>
    </blockquote>
    <div class="date">
      <i class="fa fa-calendar" aria-hidden="true"></i> 
      Aplil 20, 2024
    </div>
  </div>
</header1>

<section>
  <div class="scroll">
    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
  </div>
  <div class="container">
    <h1>I like the night. Without the dark,we'd never see the stars.</h1>
    <div class="byline">
      <div class="avatar"></div>
      by <span>Stephenie Meyer</span>
    </div>
    <p class="hide"><span class="drop">夜</span> アメリカの作家であるステファニー・メイヤーは前述のような言葉を残しました。直訳すると「私は夜が好きだ。夜がなければ私たちは星を見ることができなかったであろう。」<br>
    "nuit"これはフランス語で夜を指す言葉です。夜といってもみんなが寝静まった真夜中です。 </p>

    <p class="hide"> それぞれがそれぞれの景色を見ている。地球に存在する人類は今や80億人を突破しようとしている。自分の見ている景色は自分にしか見えない。<br>nuit nuitはあなたが見ている景色をほかの人と共有してほしい。それぞれの夜を楽しんでつながってほしい、そんな思いから作られたアプリです。</p>
  </div>
</section>

<section class="quote desert">
  <blockquote>Do you like the nuit?</blockquote>
</section>

<section>
  <div class="container">
    <p class="hide">あなたは夜が好きですか？そうと答える人もいれば、違うと答える人もいるでしょう。<br>不安を助長することもあれば、意味もなく沈んだり、怖くなったり、ときには人間を突き動かすことも、、</p>

    <p class="hide">製作者自身も夜に関しては好きな面と嫌いな面があります。夜景、星、普段であればスルーする近所の居酒屋の看板の明かり、、普段では気づかないことがいっぱいある夜。みんなそれぞれが普段とは違った景色を楽しみます。これは、人間に与えられた一つの楽しみ。みんなこの点において夜は好きなのではないでしょうか。。</p>
    
    <!-- <blockquote class="hide">
      Sometimes horses cough and fart at the same time, so stay out of the range of its butt muscle because a horses butt muscle is thick. <span>&mdash; Gary Busey</span>
    </blockquote> -->

    <p class="hide"> ただし、夜には拭えない不安が残ります。日中会えていた友達に会えない孤独感、だれもが感じたことあると思います。実際、このアプリを制作した背景の課題としてその不安の解消があげられます。従来のsnsとは違い、夜限定のsnsであることがあげられます。</p>
  </div>
</section>


<section class="quote second">
  <blockquote>Share your nuit with everyone!!</blockquote>
</section>

<section>
  <div class="container">
    <p class="hide">ここまで来たらあなたがすることは一つ、あなたの見ている景色をみんなに投稿してシェアしましょう！<br>nuit nuitはあなたが訪れた場所、みんなが訪れた場所も投稿時に見れるようになっています。今度行ってみたいな、ここみんなに教えちゃお、などの投稿でいっぱいにしましょう！！！！</p>
    
    <p><strong>Bonne nuit!</strong></p>
    
  </div>
</section>

<section class="comments">
  <div class="container">
    <input type="checkbox" id="toggle" />
    <label class="toggle" for="toggle">
      Planner Comments <i class="indicator"></i>
    </label>
    <div class="wrapper">
      
      <!-- COMMENT -->
      <div class="comment">
        <div class="user">
          <div class="pic"></div>
          <div class="date">04/20/2024</div>
        </div>
        
        <div class="nyaa">
          <div class="author">Keiju Sakagami</div>
          <p>nuit nuitを利用していただいてありがとうございます。開発者の坂上桂寿と申します。
            このアプリは私が夜に一人の時間が多く、寂しくなってしまうということを課題に作成したアプリです。皆さんもたくさん投稿して、今何をしているかをみんなにシェアしちゃいましょう！
            みんながあなたの投稿を待っています！！
          </p>
        </div>
      </div>
    </div>
  </div>
</section>